@{
    ViewBag.Title = "About";
}
<h4>About the Survey</h4>
<p>A maecenas a a adipiscing venenatis duis parturient curae vestibulum vestibulum et consectetur proin a a per condimentum id risus. Aenean adipiscing sem imperdiet duis cras ultrices condimentum sodales scelerisque sem a a parturient ipsum duis ac. Pharetra venenatis velit parturient mi feugiat in adipiscing rhoncus nascetur est duis platea donec est penatibus gravida consectetur odio suspendisse consectetur nec arcu a condimentum.</p>
<p>A maecenas a a adipiscing venenatis duis parturient curae vestibulum vestibulum et consectetur proin a a per condimentum id risus. Aenean adipiscing sem imperdiet duis cras ultrices condimentum sodales scelerisque sem a a parturient ipsum duis ac. Pharetra venenatis velit parturient mi feugiat in adipiscing rhoncus nascetur est duis platea donec est penatibus gravida consectetur odio suspendisse consectetur nec arcu a condimentum.</p>