@{
    ViewBag.Title = "Contact";
}
<h4>Contact the Prelim Team</h4>

<address>
    Keele CTU<br />
    Primary Care and Health Sciences<br />
    Keele University<br />
    Keele<br />
    Staffordshire<br />
    ST5 5BG<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br></address>