@{
    ViewBag.Title = "Contact";
}
<h4>Contact the North Staffordshire Health Survey co-ordinator</h4>

<address>
    Keele CTU<br />
    Primary Care and Health Sciences<br />
    Keele University<br />
    Keele<br />
    Staffordshire<br />
    ST5 5BG<br />
</address>
<strong>Telephone:</strong><abbr title="Phone">01782 733905</abbr>.<br />
<strong>Email:</strong>   <a href="mailto:l.hartshorne@keele.ac.uk">North Staffordshire Health Survey</a><br>
<address>
    </address>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87945481-1', 'auto');
  ga('send', 'pageview');

</script>