@{
    ViewBag.Title = "Contact";
}
<h4>Contact the North Staffordshire Health Survey co-ordinator</h4>

<address>
    Keele CTU<br />
    Primary Care and Health Sciences<br />
    Keele University<br />
    Keele<br />
    Staffordshire<br />
    ST5 5BG<br />
</address>
<strong>Telephone:</strong><abbr title="Phone">01782 733905</abbr>.<br />
<strong>Email:</strong>   <a href="mailto:l.hartshorne@keele.ac.uk">North Staffordshire Health Survey</a><br>
<address>
    </address>
