@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prelim: North Staffordshire Health Survey</h1>
    <p class="lead">To login you will need you two part online ID supplied in your letter.</p>
    <div class="btn btn-primary btn-lg">Click to login &raquo</div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About the North Staffordshire Health Survey </h2>
        <p>
           Prelim: North Staffordshire Health Survey is awesome wanna know more? Click the button 
        </p>
        <p><div class="btn btn-default">@Html.ActionLink("Learn More", "About", "Home")</div></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>If you would like to speak to some?</p>
        <p><div class="btn btn-default">@Html.ActionLink("Learn More", "Contact", "Home")</div></p>
    </div>
   
    <div class="col-md-4">
        <h2>Questionnaire Example</h2>
        <p>Demo Questionnaire</p>
        <p><div class="btn btn-default">@Html.ActionLink("Start Example", "Index", "Questionnaire")</div></p>
    </div>

</div>