
@{
    ViewBag.Title = "Page9";
}


<br />
<br />

<form class="form-inline">

    <div class="row">
        <div class="col-md-12">
            9. I get a sort of frightened feeling like 'butterflies' in my stomach:
        </div>
        <div class="col-md-2"></div>
            <div class="col-md-1">Not at all</div>
        <div class="col-md-1"></div>
            <div class="col-md-1">Occasionally</div>
        <div class="col-md-1"></div>
            <div class="col-md-1">Quite often</div>
        <div class="col-md-1"></div>
            <div class="col-md-1">Very often</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
</div>
        <br />
    <div class="row">
        <div class="col-md-12">
            10. I have lost interest in my appearance:
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">Definitely</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">I don't take as much care as I should</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">I may not take quite as much care</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">I take just as much care as ever</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            11. I feel restless as if I have to be on the move:
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">Very much indeed</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Quite a lot</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Not very much</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Not at all</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            12. I look forward with enjoyment to things:
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">As much as I ever did</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Rather less than I used to</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Definitely less than I used to</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Hardly at all</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            13. I get sudden feelings of panic:
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">Very often indeed</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Quite often</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Not very often</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Not at all</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            14. I can enjoy a good book or radio or television programme:
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">Often</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Sometimes</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Not often</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Very seldom</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
    </div>




        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-6"><div class="btn btn-default">@Html.ActionLink("Previous", "Page8", "Questionnaire")</div></div>
            <div class="col-md-6"><div class="btn btn-default pull-right">@Html.ActionLink("Next", "Page9", "Questionnaire")</div></div>
        </div>
</form>
<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-87945481-1', 'auto');
            ga('send', 'pageview');

</script>
