
@{
    ViewBag.Title = "Page4";
}

<h2>Page4</h2>
<br />
<br />
<br />
<form class="form-inline">
    <div class="form-group">
        <div class="row">
            <div class="col-md-7">13. <b>Sleep.</b> How often have you had trouble with either falling asleep or staying asleep because of your joint or muscle symptoms in the last 2 weeks?</div>
            <div class="col-md-1">Not at all</div>
            <div class="col-md-1">Rarely</div>
            <div class="col-md-1">Sometimes</div>
            <div class="col-md-1">Frequently</div>
            <div class="col-md-1">Every night</div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-7">14. <b>Fatigue or low energy.</b>  How much fatigue or low energy have you felt in the last 2 weeks??</div>
            <div class="col-md-1">Not at all</div>
            <div class="col-md-1">Slight</div>
            <div class="col-md-1">Moderate</div>
            <div class="col-md-1">Severe</div>
            <div class="col-md-1">Extreme</div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-7">15. <b>Emotional well-being.</b> How much have you felt anxious or low in your mood because of your joint or muscle symptoms in the last 2 weeks?</div>
            <div class="col-md-1">Not at all</div>
            <div class="col-md-1">Slightly</div>
            <div class="col-md-1">Moderately</div>
            <div class="col-md-1">Severely</div>
            <div class="col-md-1">Extremely</div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-7">16. <b>Understanding of your condition and any current treatment</b>. Thinking about your joint or muscle symptoms, how well do you feel you understand your condition and any current treatment (including your diagnosis and medication)?</div>
            <div class="col-md-1">Completely</div>
            <div class="col-md-1">Very well</div>
            <div class="col-md-1">Moderately</div>
            <div class="col-md-1">Slightly</div>
            <div class="col-md-1">Not at all</div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-7">17. <b>Confidence in being able to manage your symptoms.</b> How much has it been a problem for you to do physical activities (e.g. going for a walk or jogging) to the level you want because of your joint or muscle symptoms in the last 2 weeks?</div>
            <div class="col-md-1">Extremely</div>
            <div class="col-md-1">Very</div>
            <div class="col-md-1">Moderately</div>
            <div class="col-md-1">Slightly</div>
            <div class="col-md-1">Not at all</div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-7">18. <b>Overall impact.</b> How much have your joint or muscle symptoms bothered you overall in the last 2 weeks?</div>
            <div class="col-md-1">Not at all</div>
            <div class="col-md-1">Slightly</div>
            <div class="col-md-1">Moderately</div>
            <div class="col-md-1">Severely</div>
            <div class="col-md-1">Extremely</div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">19. <b>Physical activity levels.</b>
            <p><b>In the past week,</b> on how many days have you done a total of 30 minutes or more of physical activity, which was enough to raise your heart rate? <i>This may include sport, exercise and brisk walking or cycling for recreation or to get to and from places, but should not include housework or physical activity that is part of your job.
            </i></p></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1"><b>None</b></div>
            <div class="col-md-1"><b>1 day</b></div>
            <div class="col-md-1"><b>2 days</b></div>
            <div class="col-md-1"><b>3 days</b></div>
            <div class="col-md-1"><b>4 days</b></div>
            <div class="col-md-1"><b>5 days</b></div>
            <div class="col-md-1"><b>6 days</b></div>
            <div class="col-md-1"><b>7 days</b></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-1">
                <label class="radio-inline">
                    <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
                </label>
            </div>
            <div class="col-md-2"></div>
        </div>



    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6"><div class="btn btn-default">@Html.ActionLink("Previous", "Page3", "Questionnaire")</div></div>
        <div class="col-md-6"><div class="btn btn-default pull-right">@Html.ActionLink("Next", "Page5", "Questionnaire")</div></div>
    </div>
</div>
</form>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-87945481-1', 'auto');
    ga('send', 'pageview');

</script>
