
@{
    ViewBag.Title = "Page13";
}

<br />
<br />
<form class="form-inline">
    <div class="row">
        <div class="col-md-12">
            8. Thinking about the cost of living as it affects you, which of these description best describes your situation <b>(Please put a cross in one box only)</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">Find it a strain to get by from week to week</div>
        <div class="col-md-1"></div>
        <div class="col-md-2">Have to be careful with money</div>
        <div class="col-md-1"></div>
        <div class="col-md-2">Able to manage without much difficulty</div>
        <div class="col-md-1"></div>
        <div class="col-md-2">Quite comfortably off</div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            9. How often have you felt work or home life stress in the last year?
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">Never</div>
        <div class="col-md-1"></div>
        <div class="col-md-2">Some periods</div>
        <div class="col-md-1"></div>
        <div class="col-md-2">Several periods of stress</div>
        <div class="col-md-1"></div>
        <div class="col-md-2">Permanent stress</div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            10. Use the following scale and put a cross in the box for each statement to indicate how much you disagree or agree with each of the statements.
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-1"><b>Strongly disagree</b></div>
        <div class="col-md-1"><b>Disagree</b></div>
        <div class="col-md-1"><b>Neutral</b></div>
        <div class="col-md-1"><b>Agree</b></div>
        <div class="col-md-1"><b>Strongly agree</b></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            a. I tend to bounce back quickly after hard times
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-6">
            b. I have a hard time making it through
            stressful events
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-6">
            c. It does not take me long to recover
            from a stressful event
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-6">
            d. It is hard for me to snap back when
            something bad happens
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-6">
            e. I usually come through difficult times
            with little trouble
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-6">
            f. I tend to take a long time to get over set-backs in my life
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            11. What is your current employment status? <b>(Please put a cross in one box only)</b>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">In paid employment or self employed</div>
        <div class="col-md-1">Unable to work because of sickness or disability</div>
        <div class="col-md-1">Retired</div>
        <div class="col-md-1">Unemployed / seeking work</div>
        <div class="col-md-1">Looking after home and / or family</div>
        <div class="col-md-1">Doing unpaid or voluntary work</div>
        <div class="col-md-1">Full or part-time student</div>
        <div class="col-md-1">Other</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-2"></div>
    </div>



    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6"><div class="btn btn-default">@Html.ActionLink("Previous", "Page12", "Questionnaire")</div></div>
        <div class="col-md-6"><div class="btn btn-default pull-right">@Html.ActionLink("Next", "Page14", "Questionnaire")</div></div>
    </div>
</form>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-87945481-1', 'auto');
    ga('send', 'pageview');

</script>