
@{
    ViewBag.Title = "Page7";
}

<br />
<br />

<form class="form-inline">

    <div class="row">
        <div class="col-md-8">
            11. Thinking back over the <b>past 4 weeks, did you....?</b><br />
            (Select one on each line)
        </div>
        <div class="col-md-1"><b>Not at all</b></div>
        <div class="col-md-1"><b>On some nights</b></div>
        <div class="col-md-1"><b>On most nights</b></div>
        <div class="col-md-1"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">a. Have trouble falling asleep</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">b. Wake up several times per night</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">c. Have trouble staying asleep</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">d. Wake up after your usual amount of sleep feeling tired and worn out</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
    </div>
    <br />
    
    <br />
    <br />
    <div class="row">
        <div class="col-md-8">12. These are questions about how it is for you to find, understand and use information related to health, illness and medical care. <b>Place select one each line that best matches your answer</b></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-7"><b>How easy/difficult is it for you to...</b></div>
        <div class="col-md-1"><b>Very easy</b></div>
        <div class="col-md-1"><b>Easy</b></div>
        <div class="col-md-1"><b>Difficult</b></div>
        <div class="col-md-1"><b>Very Difficult</b></div>
        <div class="col-md-1"><b>Don't know</b></div>
    </div>
    <div class="row">
        <div class="col-md-7">a. Judge when you need to get a second opinion from another doctor?</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-7">b. Use information the doctor gives you to make decisions about your illness?</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-7">c. Find information on how to manage mental health problems such as stress and depression?</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-7">d. Judge if the information on health risks in the media is reliable (e.g. from TV or internet)?</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-7">e. Find out about activities that are good for your mental well-being (e.g. meditation, exercise and walkking)?</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-7">f. Understand information in the media on how to get healthier (e.g. from the internet, daily or weekly magazines)?</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-1"><b>Never</b></div>
        <div class="col-md-1"><b>Rarely</b></div>
        <div class="col-md-1"><b>Sometimes</b></div>
        <div class="col-md-1"><b>Often</b></div>
        <div class="col-md-1"><b>Always</b></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-7">g. How often do you need to have someone help you when you read instructions, pamphlets, or other written material from your doctor or pharmacy?</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
    </div>

    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6"><div class="btn btn-default">@Html.ActionLink("Previous", "Page6", "Questionnaire")</div></div>
        <div class="col-md-6"><div class="btn btn-default pull-right">@Html.ActionLink("Next", "Page8", "Questionnaire")</div></div>
    </div>
</form>
<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-87945481-1', 'auto');
            ga('send', 'pageview');

</script>
