
@{
    ViewBag.Title = "Page12";
}

<h3>SECTION C: ABOUT YOU AND YOUR CIRCUMSTANCES</h3>
<div>
    <p>
        This section contains general questions about yourself and your circumstances. Please
        follow the instructions and answer ALL of the questions relevant to you.
    </p>

</div>
<form class="form-inline">

    <div class="row">
        <div class="col-md-6">
            1. What is your date of birth
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="DD/MM/YY" data-date-format="DD/MM/YY">
        </div>
        <div class="col-md-12">
            (For example - if you were born on the 5th of June 1936, this would be entered as 05/06/36)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            2. Are You
        </div>
        <div class="col-md-3">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Female
            </label>
        </div>
        <div class="col-md-3">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Male
            </label>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            3. What is your ethnic group?<br />
            <b>(Please select one box only)</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">White
            </label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Black-Caribbean
            </label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Black-African
            </label>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Black-Other
            </label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Indian
            </label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Pakistani
            </label>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Bangladeshi
            </label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Chinese
            </label>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Other (please specify)
            </label>
            <label class="radio-inline">
                <input type="text" class="form-control" placeholder="(please specify)">
            </label>
        </div>


    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            4. How old were you when you left school?
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control"> years old
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            5. Did you go on from school to full-time education or university?
        </div>
        <div class="col-md-3">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Yes
            </label>
        </div>
        <div class="col-md-3">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">No
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            6. Do you have any of the following qualifications? (Select all boxes that apply)
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    a) O Levels / GCSEs (or equivalents)
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    b) A Levels (or equivalents)
                </label>
            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    c) Vocational training certificate(s) (e.g. City and Guilds, NVQ)
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    d) University degree(s) or HND
                </label>
            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    e) Higher professional qualifications (e.g. in accountancy, law, etc.)
                </label>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            7. What is your current marital status?
            <b>(Please put a cross in one box only)</b>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Married</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Separated</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Divorced</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Widowed</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Cohabiting</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Single</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>

    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6"><div class="btn btn-default">@Html.ActionLink("Previous", "Page11", "Questionnaire")</div></div>
        <div class="col-md-6"><div class="btn btn-default pull-right">@Html.ActionLink("Next", "Page13", "Questionnaire")</div></div>
    </div>
</form>
<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-87945481-1', 'auto');
            ga('send', 'pageview');

</script>