
@{
    ViewBag.Title = "Page8";
}

<h2>Part 5</h2>
<div>
    <p>The following questions are about how you feel at the moment. Please read each item and put
a cross next to the reply that comes closest to how you have been feeling <b>in the past week.</b>
Don't take too long over your replies:your immediate reaction to each item will usually be more
accurate than a long thought out response</p>
    
</div>
<br />

<form class="form-inline">

    <div class="row">
        <div class="col-md-12">
            1. I feel tense or 'wound up' :
        </div>
        <div class="col-md-2"></div>
            <div class="col-md-1">Most of the time</div>
        <div class="col-md-1"></div>
            <div class="col-md-1">A lot of the time</div>
        <div class="col-md-1"></div>
            <div class="col-md-1">From time to time, occasionally</div>
        <div class="col-md-1"></div>
            <div class="col-md-1">Not at all</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
</div>
        <br />
    <div class="row">
        <div class="col-md-12">
            2. I still enjoy the things I used to enjoy:
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">Definitely as much</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Not quite as much</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Only a little</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Hardly at all</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            3. I get a sort of frightened feeling as if something awful is about to happen:
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">Very definitely and quite badly</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Yes, but not too badly</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">A little, but it doesn't worry me</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Not at all</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            4. I can laugh and see the funny side of things
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">As much as I always could</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Not quite so much now</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Definitely not so much now</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Not at all</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            5. Worrying thoughts go through my mind:
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">A great deal of the time</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">A lot of the time</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Not too often</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Very little</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            6. I feel cheerful:
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">Never</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Not often</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Sometimes</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Most of the time</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            7. I can sit at ease and feel relaxed:
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">Definitely</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Usually</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Not often</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Not at all</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            8. I feel as if I am slowed down:
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">Nearly all the time</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Very often</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Sometimes</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Not at all</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" style="vertical-align: middle; margin: 0px;" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
    </div>
    <br />


        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-6"><div class="btn btn-default">@Html.ActionLink("Previous", "Page7", "Questionnaire")</div></div>
            <div class="col-md-6"><div class="btn btn-default pull-right">@Html.ActionLink("Next", "Page9", "Questionnaire")</div></div>
        </div>
</form>
<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-87945481-1', 'auto');
            ga('send', 'pageview');

</script>
