
@{
    ViewBag.Title = "Part 2 - Page 2";
}
<h2>
    <b>Part 2</b>
</h2>


<form class="form-inline">
    <div class="form-group">
        

        <p>
            4. In the <b>past 2 weeks, on average, how intense were each of these pains</b> rated on a
            0-10 scale where 0 is "no pain" and 10 is "pain as bad as could be"?
        </p>
        <p>
        (That is, your usual pain at times you were experiencing pain.)
        </p>
        <p><b>For each pain, please put a cross in one box. For pains that do not apply to you please put a cross in box 0 to indicate No Pain.</b></p>
        <div>
            @section Styles {
                <style>
                    .table th, .table td {
                        border-top: none !important;
                        border-left: none !important;
                    }
                </style>
            }
            <table class="table">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>0</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>a.</td>
                    <td>Headache</td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q1" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q1" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q1" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q1" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q1" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q1" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q1" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q1" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q1" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q1" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q1" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>b.</td>
                    <td>Neck pain</td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q2" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q2" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q2" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q2" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q2" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q2" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q2" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q2" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q2" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q2" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q2" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>c.</td>
                    <td>Shoulder pain</td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q3" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q3" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q3" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q3" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q3" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q3" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q3" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q3" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q3" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q3" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q3" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>d.</td>
                    <td>Hand / wrist pain</td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q4" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q4" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q4" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q4" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q4" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q4" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q4" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q4" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q4" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q4" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q4" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>e.</td>
                    <td>Chest pain</td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q5" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q5" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q5" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q5" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q5" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q5" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q5" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q5" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q5" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q5" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q5" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>f.</td>
                    <td>Stomach pain</td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q6" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q6" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q6" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q6" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q6" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q6" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q6" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q6" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q6" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q6" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q6" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>g.</td>
                    <td>Back pain</td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q7" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q7" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q7" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q7" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q7" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q7" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q7" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q7" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q7" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q7" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q7" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>h.</td>
                    <td>Hip pain</td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q8" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q8" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q8" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q8" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q8" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q8" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q8" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q8" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q8" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q8" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q8" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>i.</td>
                    <td>Knee pain</td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q9" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q9" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q1q9" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q9" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q9" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q9" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q9" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q9" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q9" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q9" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q9" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>j.</td>
                    <td>Foot / ankle pain</td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q10" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q10" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q10" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q10" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q10" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q10" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q10" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q10" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q10" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q10" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="q10" id="inlineRadio1" value="option1">
                        </label>
                    </td>
                </tr>
            </table>
        </div>




        <div class="btn btn-default">@Html.ActionLink("Previous", "Page1", "Questionnaire")</div>

    </div>
</form>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-87945481-1', 'auto');
    ga('send', 'pageview');

</script>


