<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>160.5.20.100</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/PrelimWQ</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>webdev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PrelimMailEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PrelimWQ.Models.PrelimMailEntities, PrelimWQ" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ExternalConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=varys.pcmtu.keele.ac.uk;Initial Catalog=PrelimMail;Integrated Security=False;User ID=*********;Password=*********" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ExternalConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=varys.pcmtu.keele.ac.uk;Initial Catalog=PrelimMail;User Id=*********;Password=*********;Integrated Security=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=varys.pcmtu.keele.ac.uk;Initial Catalog=PrelimSurvey;Persist Security Info=True;User ID=prelimsurveyuser;Password=orange999" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PrelimWQ.Models.ApplicationDbContext, PrelimWQ" MigrationConfiguration="PrelimWQ.Migrations.Configuration, PrelimWQ" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=varys.pcmtu.keele.ac.uk;Initial Catalog=PrelimSurvey;Persist Security Info=True;User ID=prelimsurveyuser;Password=orange999</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ExternalConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PrelimMailEntities-Web.config Connection String" />
  </ItemGroup>
</Project>