<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  

  <connectionStrings>
    <add name="DefaultConnection"
       connectionString="Data Source=varys.pcmtu.keele.ac.uk;Initial Catalog=PrelimSurvey;User Id=prelimsurveyuser;Password=orange999;Integrated Security=False"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ExternalConnection" connectionString="Data Source=varys.pcmtu.keele.ac.uk;Initial Catalog=PrelimMail;User Id=PrelimMailUser;Password=Pr3l1m#;Integrated Security=False" providerName="System.Data.SqlClient" />
  <add name="PrelimMailEntities" connectionString="metadata=res://*/Models.PrelimMail.csdl|res://*/Models.PrelimMail.ssdl|res://*/Models.PrelimMail.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=varys.pcmtu.keele.ac.uk;initial catalog=PrelimMail;integrated security=False;user id=PrelimMailUser;password=Pr3l1m#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="MigrateDatabaseToLatestVersion" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
